.intro {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
}

h2 {
    color: red;
}

#about {
    background-color: aqua;
    padding: 10px;
    border: 1px solid black;
}

#contact {
    background-color: aquamarine;
    padding: 10px;
    border: 1px solid black;
}

a:hover {
    color: peru;
}

.my-footer {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
}